<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=414, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>杭州富力你好</title>

    <meta name="Keywords" content="杭州富力,富力地产,富力十号怎么样,富力房子,富力质量,富力维权,富力怎么样,富力欺诈">
    <meta name="Description" content="富力地产是一家诚信缺失的公司，这样的公司注定不会走的太远。">
    <!--<link rel="dns-prefetch" href="http://www.rfchina.com/">--><!--DNS预解析，用户未点击前就解析了此域名-->
    <!--<base target="_blank">-->
    <!--在何处打开页面中所有的链接_blank _parent _self_top framename。 href	URL	规定页面中所有相对链接的基准 URL-->
    <!--<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="http://rfchina.tk/libs/bootstrap/css/bootstrap.min.css"/>
    <link href="http://rfchina.tk/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <!--<script type="text/javascript" src="libs/jquery/dist/jquery.js"></script>-->
    <script type="text/javascript" src="http://rfchina.tk/libs/angular/1.4.5/angular.js"></script>
    <script type="text/javascript" src="http://rfchina.tk/libs/angular/1.4.5/angular-animate.js"></script>
    <script type="text/javascript" src="http://rfchina.tk/libs/angular/1.4.5/angular-touch.js"></script>
    <script type="text/javascript" src="http://rfchina.tk/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!--[if lt IE 9]>
    <script  language="javascript">
        document.writeln("<div style='color:red;padding:20px;'> 您正在使用 Internet Explorer 的过期版本（IE6、IE7、IE8 或使用该内核的浏览器）！<br>");
        document.writeln("无法正常显示，不要为难臣妾了,尽快升级吧!</div>");
     </script>
    <![endif-->
    <link rel="icon" sizes="any" mask href="http://rfchina.tk/img/favicon/favicon.svg">
    <link rel="icon" type="images/png" sizes="96*96" href="http://rfchina.tk/img/favicon/favicon.png">
    <script src="http://rfchina.tk/comm/comm.js" type="text/javascript"></script>
    <link href="http://rfchina.tk/comm/comm.css" rel="stylesheet"/>
    <link href="http://rfchina.tk/css/index.css" rel="stylesheet"/>
    <script src="http://rfchina.tk/js/index.js" type="text/javascript"></script>
</head>
<body ng-app="app">
<noscript>
    <div style="color:red;padding:20px;">
        您的浏览器禁用了脚本,这是要玩死哥么？
    </div>
</noscript>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" df-navbar-json="json/navbar.json">
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 jumb-info">
                <h1>房闹？<code popover-placement="bottom"
                             popover-trigger="click"
                             popover="我们不是那种给自己找麻烦的人">NO!</code></h1>

                <h1>炒房客？<code popover-placement="bottom"
                              popover-trigger="click"
                              popover="大哥，您真高看我们了！我们只是想在异地有个小小的家，有份归属感">NO!</code></h1>

                <h1>无契约精神？<code popover-placement="bottom"
                                popover-trigger="click"
                                popover="道德标榜者、看客们口中经久不衰的真理。但不是所有买房纠纷都违背契约精神的，你有权利质疑，但我们问心无愧">NO!</code></h1>

                <p class="text-primary lead">
                    房屋作为商品，涨跌是很正常的事，我们能理解，也能承受，但无法原谅富力借
					<a class="text-danger" href="http://baike.baidu.com/link?url=_uvnGh_vwybPJpsK3Gj4NZFy23jPqsZe4nvQmENhcL6bzxDnDPvPYjPXV4oI5x8iXEn1TlbsijVum0VBKUL1vK">内部认购</a>
					之名来忽悠我们、骗我们，而后对如此简单明了的事百般敷衍、推诿！
                    诚然，大家所看到的“成功”的房屋维权案例多数是需要勇士般的斗志的，是要有血性的，
                    但我们不是，我们怕，不愿意冒这个险，为了家人更加珍惜自己的生命；更为重要的事我们想不通，对错区分为什么需要如此过激的行为，
                    <strong class="text-warning">为什么头破血流的要是我们,是对的不够明显么？不！是当今社会违规成本太低，以至于错的人肆无忌惮，嚣张跋扈！</strong>
                    是的，我们是为自己呐喊，给忧郁找一个出口；也是一种等待，等待着社会去淘汰富力地产这种公司；更是一种呼唤，呼唤诚信经营，规范守信的大环境。
                </p>

            </div>
            <div class="col-xs-2">
                <div class="pull-right">
                    <a class="btn btn-github" href="https://github.com/e"
                       target="_blank">
                        <i class="icon-github pull-left"></i>
                        源码
                    </a>
                </div>
                <div class="famous-remark">
                    <h2 class="pull-right text-muted">路漫漫其修远兮</h2>

                    <h2 class="pull-right text-muted">吾将上下而求索</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 detail">
            <h2 class="page-header"><a name="shengyueju"></a>事情描述
                <small>-杭州西溪盛悦居</small>
            </h2>
            <p>在杭州也有好几年了，希望能在杭州有个家，中国人的老传统,有房子就是一个家了，有了归属感。 在2013年6月份来到了杭州富力西溪悦居售楼处，
                看到清幽雅致的竹林，门面气派光鲜,对全国房地产十强的富力竟然可耻的产生了一种好感，就想买个小房子，过上房奴的日子，赢娶白富美，
                走向人生巅峰（省略3K字）；当时生活还没教会我虚有其表、表里不一的不一定是人。富力的销售跟我介绍了马上准备新开的楼盘“西溪悦居*溪区”，
                并告知我现在属于
                <a href="http://baike.baidu.com/link?url=_uvnGh_vwybPJpsK3Gj4NZFy23jPqsZe4nvQmENhcL6bzxDnDPvPYjPXV4oI5x8iXEn1TlbsijVum0VBKUL1vK">内部认购</a>时期，
                价格与开盘比空前优惠，现在就可以付款买下，催促我要买的话赶紧出手，作为屌丝能买房又能省钱当然是极好的，
                来来回回几次后最终剁手签约了。就这样在准备迎娶白富美的道路上前行了2个月，
                <strong class="text-danger h3">8月30号溪区首开价格跟我们相差10几万</strong>，好嘛，快占房子总价十分之一了，
                于是加业主群了解情况，才知道就我们二三十号人受难的。咋办？我们还认为富力是个大公司应该会对业主负责的，对他们的决策负责的，
                毕竟大企业也是我们买房的原因之一啊。跟大家去富力找商量解决办法，百般折腾之后，在晚上终于得到富力销售经理王辉2点答复，
            </p>

            <div class="callout callout-warning">
                <ol>
                    <li>你们周末来领导不在,电话也是一直打不通。</li>
                    <li>富力官方从来没有内部认购的说法，销售说的价格保证，需要进一步核实，最好是你们每人写个证明让销售签字。</li>
                </ol>
            </div>
            <p>等我们写好证明，选了个工作日请假来找领导，随便让销售签字的时候，领导依旧不在，电话依旧不通；销售那边也得到的是同一个答复，有其他销售签了我就签，
                意思就是要找个销售出头。我们终究是太稚嫩了，想他们富力处理了多少起售房纠纷了，怎么会不知道我们要怎么做，后来才得知，他们在我们去后的第二天
                就在例会上下了封口令了。在愤愤不平中又各自无助的去过几次售楼处，这样过去了10来天，得知在重要活动的前一天晚上，富力领导肯定会在的。
                于是我们在当天向浙江电视台1818黄金眼求助，又捉迷藏式的找到了富力的一个领导，杭州富力副总胡英伟，得到大致三点：
            </p>

            <div class="callout callout-danger">
                <ol>
                    <li>不是故意躲着不接电话，是事情太多，当场表示留两个联络人的电话给他，一定会接这两个人的电话。</li>
                    <li>这个事情领导已经知道了，正在商议解决，跟电视台也说过了，<a href="#three-day-reply"><strong
                            class="text-info">三天内</strong></a>给我们答复。
                    </li>
                    <li>富力是有良心的企业，有什么问题一定会尽力解决的，但杭州富力成立不久，难免会有一些问题。</li>
                </ol>
            </div>
            <p>
                那天我们回去，大家心情都有所缓和，总算有所转机了，碰到个说话还算实诚的领导，浙江电视台的人也来过了，事情应该会有个结果了。我们还是太年轻了，
                现阶段的中国能搞定无赖的只能是更无赖的手法，残暴的手段。富力之事总以为是底下的人没有把事情反应给领导才迟迟不能解决，还是对富力心存幻想；
                小领导是反映大领导的意志的，所谓的富力高层平日的作风就是反应在这上面的,所以给我们的答复也是遥遥不可期的，只会是敷衍，只会是谎言，
                或许他说的三日是古语中的一日不见如隔三秋中的三日吧。富力的处理维权的人很清楚，一而再再而衰三而竭的道理，像我们这种还要上班的年轻人，
                不可能天天把时间耗在茫茫维权上面的，顶住了前面的几次，慢慢也就懈怠了，事情也就平息了。这种事情再过些时日，谁还能记得事情原委呢，
                谁还能说得清道得明呢？富力依旧是个好公司，是个受得住业主百般诬陷而屹立不倒的诚信经营的大企业。
            </p>
        </div>
        <div class="col-xs-12">
            <h2 class="page-header">富力大事件</h2>

            <div ng-controller="mainCarousel" class="main-carousel">
                <carousel interval="3500">
                    <slide ng-repeat="slide in slides" active="active">
                        <a ng-href="{{slide.href}}">
                            <img ng-src="{{slide.img}}" style="width: 100%;">
                        </a>
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="col-xs-12">
            <h2 class="page-header">骗人的富力</h2>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <a name="three-day-reply"></a>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">1818报道内部认购事件</h3>
                        </div>
                        <div class="panel-body">
                            <div class="embed-responsive embed-responsive-4by3">
                                <video width="100%" height="100%" df-initial-time controls="controls" click-pause
                                       preload="metadata">
                                    <source src="media/video/1818.webm" type='video/webm; codecs="vp8.0, vorbis"'/>
                                    <source src="media/video/1818.mp4" type='video/mp4; codecs="avc1, mp4a"'/>
                                    <source src="media/video/1818.ogv" type='video/ogg; codecs="theora, vorbis"'/>
                                    浏览器不支持。
                                </video>
                            </div>
                            <h3>你妈喊你给答复</h3>
                            浙江电台2014年9月27日报道了此事，在视频中可以看到富力方面无力的推脱责任，并告之我们三天内会有答复，最终又是绵绵无绝期。
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">耐人寻味的楼盘首开</h3>
                        </div>
                        <div class="panel-body">
                            <carousel class="carousel2">
                                <slide >
                                    <a href="html/6.29neiburengou.html">
                                        <img src="img/index/neiburengou.jpg"/>
                                    </a>
                                </slide>
                                <slide >
                                    <a href>
                                        <img  src="img/index/shoukai.jpg"/>
                                    </a>
                                </slide>
                                <slide >
                                    <a href>
                                        <img  src="img/index/shoukai_rexiao.jpg"/>
                                    </a>
                                </slide>
                            </carousel>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default ">
                        <div class="panel-heading">2014-10-11通话录音</div>
                        <div class="panel-body">
                            <audio controls="controls">
                                <source src="media/audio/20141011182638.mp3" type="audio/mpeg">
                                <source src="media/audio/20141011182638.ogg" type="audio/ogg">
                                浏览器不支持。
                            </audio>
                            <p>什么签约没有签约的两种解决方式，几个人买了？什么情况你会不知道？你还是经理么？
                                找借口也找个靠谱一点的啊。</p>
                        </div>
                        <div class="record-ctrl" ng-click="record20141011182638=!record20141011182638">
                            <i ng-class="record20141011182638?'icon-minus':'icon-plus'"></i>
                            {{record20141011182638?'隐藏':'显示'}}对话内容
                        </div>
                        <div ng-if="record20141011182638" class="df-speech-animate"
                             df-speech-record url-json="json/record/20141011182638.json"
                             left-icon-url="img/index/keai.jpg" right-icon-url="img/index/aotema2.jpg"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default ">
                        <div class="panel-heading">2014-10-11通话录音</div>
                        <div class="panel-body">
                            <audio controls="controls">
                                <source src="media/audio/20141011184628.mp3" type="audio/mpeg">
                                <source src="media/audio/20141011184628.ogg" type="audio/ogg">
                                浏览器不支持。
                            </audio>
                            <p>一个副总也一味的说欺骗的话，这样真的好么？</p>
                        </div>
                        <div class="record-ctrl" ng-click="record20141011184628=!record20141011184628">
                            <i ng-class="record20141011184628?'icon-minus':'icon-plus'"></i>
                            {{record20141011184628?'隐藏':'显示'}}对话内容
                        </div>
                        <div ng-if="record20141011184628" class="df-speech-animate"
                             df-speech-record url-json="json/record/20141011184628.json"
                             left-icon-url="img/index/baihe.jpg" right-icon-url="img/index/guaisou.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default ">
                        <div class="panel-heading">2014-10-15通话录音</div>
                        <div class="panel-body">
                            <audio controls="controls">
                                <source src="media/audio/20141015093504.mp3" type="audio/mpeg">
                                <source src="media/audio/20141015093504.ogg" type="audio/ogg">
                                浏览器不支持。
                            </audio>
                            <p>原来富力解决问题的动力是来源于媒体、论坛的，不是出于对业主负责的态度的。
                                那么恭喜富力你们肯定是赢了的，媒体报道的内容是有时效性的，要是新鲜的、有趣的，不会天天盯着你富力的。</p>
                        </div>
                        <div class="record-ctrl" ng-click="record20141015093504=!record20141015093504">
                            <i ng-class="record20141015093504?'icon-minus':'icon-plus'"></i>
                            {{record20141015093504?'隐藏':'显示'}}对话内容
                        </div>
                        <div ng-if="record20141015093504" class="df-speech-animate"
                             df-speech-record url-json="json/record/20141015093504.json"
                             left-icon-url="img/index/keai.jpg" right-icon-url="img/index/aotema1.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="major-product" ng-controller="majorProduct">
                <h2 class="page-header">富力良心</h2>

                <div ng-repeat="product in products" class="col-xs-12 col-sm-4 major-product-view">
                    <a ng-href="{{product.href}}">
                        <div class="thumbnail">
                            <div class="embed-responsive embed-responsive-4by3">
                                <div class="embed-responsive-item">
                                    <img ng-src="{{product.img}}">
                                </div>
                            </div>
                            <div class="caption">
                                <h3>{{product.title}}</h3>

                                <div class="embed-responsive">
                                    <div class="embed-responsive-item">
                                        <p>{{product.detail}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>

<footer class="footer" ng-controller="dfFooter">
    <div class="container">
        <div class="row">
            <a title="微信二维码" href="" ng-click="weixinIconShow()">微信二维码</a>
            <a class="email" title="邮箱" href="mailto:deftplot@163.com">deftplot@163.com</a>
            QQ群：324870693
        </div>

    </div>
    <div>
        <p style="font-family:Tahoma;">&copy;<a href="http://www.xxxx.com" target="_blank" title="富力维权">xxxx</a>
            浙ICP备xx号</p>
    </div>
    </div>
</footer>
</body>
</html>